In [19]:
# Asignar directorios de trabajo a "./someweird"
import os
# os.chdir("./someweird")

DATA_DIR = "./data/20180702_1145_PREP/"
FILE_DATA_PATH = DATA_DIR + "QRO_DIP_LOC_2018.csv"

#
# Cargar archivos de .data/20180702_1145_PREP/QRO_DIP_LOC_2018.csv

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.interpolate import interp1d

# table start in A6

data = pd.read_csv(FILE_DATA_PATH, header=4)
data



# Realizar analisis de datos

,CLAVE_CASILLA,CLAVE_ACTA,ID_ESTADO,ESTADO,ID_DISTRITO_LOCAL,DISTRITO_LOCAL,SECCION,ID_CASILLA,TIPO_CASILLA,EXT_CONTIGUA,...,OBSERVACIONES,CONTABILIZADA,MECANISMOS_TRASLADO,SHA,FECHA_HORA_ACOPIO,FECHA_HORA_CAPTURA,FECHA_HORA_VERIFICACION,ORIGEN,DIGITALIZACION,TIPO_DOCUMENTO
0,220277B0100,220277B0100,22,QUERETARO,1,QUERETARO 01,277,961,B,0,...,NaN,1.0,D,77B4E74C39AA83026388F7148239AF76816E8B6D29CC03...,02/07/2018 01:18:43,02/07/2018 02:18:53,02/07/2018 04:25:39,CATD,ESCANER,ACTA PREP
1,220277C0100,220277C0100,22,QUERETARO,1,QUERETARO 01,277,962,C,0,...,NaN,1.0,D,C055A6A27C574F57BE0185476BC19756D0290CB26C9FB6...,02/07/2018 01:17:20,02/07/2018 04:40:41,02/07/2018 05:41:19,CATD,ESCANER,ACTA PREP
2,220277C0200,220277C0200,22,QUERETARO,1,QUERETARO 01,277,963,C,0,...,NaN,1.0,D,83A57141BC2CB59F7A4D43069AF9DBBA5B13B61320FC59...,02/07/2018 00:42:16,02/07/2018 01:03:58,02/07/2018 01:15:12,CATD,ESCANER,ACTA PREP
3,220277C0300,220277C0300,22,QUERETARO,1,QUERETARO 01,277,964,C,0,...,NaN,1.0,D,AB96359CA2A806F9B8A96D9666FC3D74571BA564F32DA1...,02/07/2018 01:18:11,02/07/2018 02:40:52,02/07/2018 05:05:53,CATD,ESCANER,ACTA PREP
4,220277C0400,220277C0400,22,QUERETARO,1,QUERETARO 01,277,965,C,0,...,NaN,1.0,D,4D527753D1E7D940AEA1CE9FF61E66A3237D5255359759...,02/07/2018 00:42:51,02/07/2018 01:09:11,02/07/2018 01:37:26,CATD,ESCANER,ACTA PREP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2643,'220560E0100,'220560E0100,22,QUERETARO,15,JALPAN DE SERRA,560,1866,E,0,...,NaN,1.0,D,3D4784EAF0E8D2B440B5C1E69CBABAB6529198038D9AEF...,02/07/2018 04:01:00,02/07/2018 04:09:51,02/07/2018 04:13:08,CATD,ESCANER,ACTA PREP
2644,'220560E0200,'220560E0200,22,QUERETARO,15,JALPAN DE SERRA,560,1867,E,0,...,NaN,1.0,D,132AB7B5B93DB99D91A4730A20E60B93D08C5A867296E0...,02/07/2018 01:24:12,02/07/2018 01:41:11,02/07/2018 01:50:03,CATD,ESCANER,ACTA PREP
2645,220561B0100,220561B0100,22,QUERETARO,15,JALPAN DE SERRA,561,1868,B,0,...,NaN,1.0,D,C6FFB9FC04C0ED64E2932E4880A85007BD4BD02B3E7C6C...,02/07/2018 00:52:07,02/07/2018 01:03:10,02/07/2018 01:08:31,CATD,ESCANER,ACTA PREP
2646,'220561E0100,'220561E0100,22,QUERETARO,15,JALPAN DE SERRA,561,1869,E,0,...,NaN,1.0,D,5DA938A7C3E4466246F732E7FCC1BA4D9F084FF3D1764C...,02/07/2018 00:50:46,02/07/2018 01:04:55,02/07/2018 01:06:02,CATD,ESCANER,ACTA PREP
2647,220562B0100,220562B0100,22,QUERETARO,15,JALPAN DE SERRA,562,1870,B,0,...,NaN,1.0,D,54C22EB1157237F0311B159353A2FFC5DF9B07C2C186E8...,01/07/2018 22:44:22,01/07/2018 22:56:49,01/07/2018 22:58:35,CATD,ESCANER,ACTA PREP

In [20]:
def resume_column(columna, title=None):
	columna_frecuencia = columna.value_counts().sort_values(ascending=False)
	print(f'Cantidad de registros por {columna.name}: \n[{len(columna)}] 100%\n{(columna_frecuencia/columna_frecuencia.sum()*100).apply(lambda x: f"{x:.2f}%")}')

In [26]:
resume_column(data['DISTRITO_LOCAL'])

Cantidad de registros por DISTRITO_LOCAL:
[2648] 100%
QUERETARO 13              7.29%
QUERETARO 05              7.10%
QUERETARO 02              7.06%
QUERETARO 06              7.06%
JALPAN DE SERRA           6.95%
SAN JUAN DEL RIO 08       6.80%
CORREGIDORA 07            6.76%
QUERETARO 04              6.65%
EL MARQUES 12             6.65%
QUERETARO 01              6.61%
CADEREYTA DE MONTES 14    6.61%
SAN JUAN DEL RIO 09       6.42%
QUERETARO 03              6.19%
PEDRO ESCOBEDO 10         5.97%
TEQUISQUIAPAN 11          5.89%
Name: DISTRITO_LOCAL, dtype: object

In [34]:
data['PAN'].astype('int').sum()

ValueError: cannot convert float NaN to integer

In [23]:
resume_column(data['PAN_PRD_MC'])

Cantidad de registros por PAN_PRD_MC:
[2648] 100%
0           22.66%
1           18.13%
2           16.01%
3           14.50%
4           11.48%
5            7.25%
6            4.83%
Sin dato     2.72%
7            1.81%
8            0.30%
10           0.30%
Name: PAN_PRD_MC, dtype: object